body {
  background-color: black;
  color: limegreen;
  font-family: 'Press Start 2P', cursive;
  font-size: 20px;
  overflow: hidden;
}
h1 {
  display: flex;
  justify-content: center;
}
#startPause {
  position: relative;
  top: -15px;
  display: flex;
  justify-content: center;
}
#livesTxt {
  position: absolute;
  top: 20px;
  left: 20px;
}
#levelTxt {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 20px;
}
#scoreTxt {
  position: absolute;
  width: 100%;
  text-align: right;
  top: 20px;
  right: 20px;
}

#spaceAttack {
  position: relative;
  top: -25px;
  width: 1400px;
  height: 700px;
  background-image: url("./img/background4.jpg");
  border: 10px solid blue;
}

#shuttle {
  position: relative;
  top: 640px;
  left: 670px;
  width: 60px;
  height: 40px;
  background-image: url("./img/shuttle.tiff");
  animation-duration: 1s;
}
.turnRight {
  animation: shuttleRight ease-in;
}
.turnLeft {
  animation: shuttleLeft ease-in;
}
@keyframes shuttleRight{
  100%{left:1320px;}
}
@keyframes shuttleLeft{
  100%{left:20px;}
}

#shields * {
  position: relative;
  left: 120px;
  width: 120px;
  height: 40px;
}
#shields > #p1 {
  top: 540px;
  left: 120px;
  background-image: url("./img/p1.tiff");
}
#shields > #p2 {
  top: 500px;
  left: 640px;
  background-image: url("./img/p2.tiff");
}
#shields > #p3 {
  top: 460px;
  left: 1160px;
  background-image: url("./img/p3.tiff");
}
