#body {
  background-color: black;
  color: limegreen;
  font-family: 'Press Start 2P', cursive;
  overflow: hidden;
}
#menu {
  position: absolute;
  width: 1400px;
  height: 100px;
  background-color: black;
  z-index: 10;
}
#title {
  position: relative;
  width: 100%;
  text-align: center;
}
#startPause {
  position: relative;
  width: 100%;
  text-align: center;
  cursor: pointer;
}

#spaceAttack {
  position: absolute;
  width: 1400px;
  height: 700px;
  background-image: url("./img/background.jpg");
}

#inGameTopTxt {
  position: absolute;
  width: 100%;
}
#gameTopTxt {
  position: absolute;
  width: 100%;
  color: transparent;
  z-index: 28;
}
.gameTopTxt {
  animation: gameTopTxt 6s ease-out;
  animation-fill-mode: forwards;
}
@keyframes gameTopTxt {
  0%{top: -300px; color: transparent;}
  80%{top: -300px; color: inherit;}
  100%{top: 0px; color: inherit;}
}
#livesTxt {
  position: absolute;
  left: 20px;
}
#levelTxt {
  position: absolute;
  width: 100%;
  text-align: center;
}
#scoreTxt {
  position: absolute;
  width: 100%;
  text-align: right;
  right: 20px;
}

#levelAtStart {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: transparent;
}
.level {
  animation: level 2s ease;
}
@keyframes level {
  0%{color: transparent;}
  20%{color: inherit;}
  80%{color: inherit;}
  100%{color: transparent;}
}

#shuttle {
  position: absolute;
  top: 640px;
  left: 670px;
  width: 60px;
  height: 71px;
  z-index: 3;
}
#afterBurnRx {
  width: 35px;
  height: 18px;
  position: absolute;
  top: 15px;
  left: 54px;
}
#afterBurnLx {
  width: 35px;
  height: 18px;
  position: absolute;
  top: 15px;
  left: -28px;
}
.shuttle {
  background-image: url("./img/shuttle.tiff");
  animation: shuttle 3.5s ease-out;
}
@keyframes shuttle {
  0%{top: 740px;}
  90%{top: 740px;}
  100%{top: 640px;}
}
.afterBurnRx {
  background-image: url("./img/afterBurnRx.tiff");
}
.afterBurnLx {
  background-image: url("./img/afterBurnLx.tiff");
}
#shuttleLaser {
  position: absolute;
  width: 16px;
  height: 40px;
  top: 630px;
  left: 692px;
  z-index: 1;
}
.shuttleLaser {
  background-image: url("./img/blueLaser.tiff");
}
#aliensLaser {
  position: absolute;
  width: 16px;
  height: 40px;
  left: 1px;
  top: 1px;
  z-index: 1;
}
.aliensLaser {
  background-image: url("./img/redLaser.tiff");
}

#shields > #shield1 {
  position: absolute;
  top: 580px;
  left: 120px;
}
#shields > #shield2 {
  position: absolute;
  top: 580px;
  left: 640px;
}
#shields > #shield3 {
  position: absolute;
  top: 580px;
  left: 1160px;
}
#s1Part1, #s1Part2, #s1Part3, #s2Part1, #s2Part2, #s2Part3, #s3Part1, #s3Part2, #s3Part3 {
  position: absolute;
  width: 120px;
  height: 40px;
  z-index: 2;
}
.shieldP1 {
  background-image: url("./img/sp1.tiff");
  animation: shield 2s ease-out;
}
.shieldP2 {
  background-image: url("./img/sp2.tiff");
  animation: shield 3s ease-out;
}
.shieldP3 {
  background-image: url("./img/sp3.tiff");
  animation: shield 2.5s ease-out;
}
@keyframes shield {
  0%{top: 160px;}
  70%{top: 160px;}
  100%{top: 0px;}
}


#aliens {
  position: absolute;
  top: 20px;
  left: 220px;
  width: 960px;
  height: 280px;
}
#line1, #line2 {
  position: absolute;
}
#line1 {
  top: 140px;
}
#part1, #part2, #part3, #part4, #part5, #part6, #part7, #part8, #part9, #part10 {
  position: absolute;
  width: 60px;
  height: 140px;
  z-index: 2;
}
.alienShip {
  background-image: url("./img/alienShip.tiff");
  animation: alienShip 1.2s ease-out;
}
.alienShip2 {
  background-image: url("./img/alienShip.tiff");
  animation: alienShip 1.5s ease-out;
}
.alienShip3 {
  background-image: url("./img/alienShip.tiff");
  animation: alienShip 1.6s ease-out;
}
.alienShip4 {
  background-image: url("./img/alienShip.tiff");
  animation: alienShip 1.7s ease-out;
}
@keyframes alienShip {
  0%{top: -300px;}
  70%{top: -300px;}
  100%{top: 0px;}
}
#part2 {
  left: 100px;
}
#part3 {
  left: 200px;
}
#part4 {
  left: 300px;
}
#part5 {
  left: 400px;
}
#part6 {
  left: 500px;
}
#part7 {
  left: 600px;
}
#part8 {
  left: 700px;
}
#part9 {
  left: 800px;
}
#part10 {
  left: 900px;
}

#topCover {
  position: absolute;
  width: 1400px;
  height: 40px;
  background-color: black;
  top: -20px;
  z-index: 9;
}
#bottomCover {
  position: absolute;
  width: 1500px;
  height: 200px;
  background-color: black;
  top: 835px;
  z-index: 4;
}
