html, body {
  width: 100%;
  height: 100%;
}
body {
  background-color: black;
  background-image: url("./img/backgroundHome.jpg");
  color: limegreen;
  padding: 0;
  margin: 0;
}
.title {
  position: relative;
  padding: 5%;
  display: inline-block;
  font-family: 'Press Start 2P', monospace;
  font-size: 3.5em;
  color: red;
  z-index: 5;
  animation: title 10s linear infinite;
}
@keyframes title {
  0%{left: 2%;}
  50%{left: 7%;}
  100%{left: 2%;}
}
h2 {
  font-size: 1.2em;
}
.mainText {
  position: relative;
  margin: -2% 5%;
  font-family: courier, monospace;
  font-size: 2em;
  line-height: 0.9em;
}
p, li {
  font-size: 0.7em;
}
.projects {
  margin-top: 5%;
  position: absolute;
}
a {
  animation: a 1s linear infinite;
  color: blue;
  font-family: 'Press Start 2P', monospace;
  text-decoration: none;
  z-index: 5;
}
@keyframes a {
  0%{color: blue;}
  50%{color: cyan;}
  100%{color: blue;}
}
a:hover {
  animation: 0s;
  color: red;
}
.menu {
  background-color: black;
  position: absolute;
  z-index: 10;
}
@media(max-width: 950px) {
  .title {
    font-size: 2.5em;
  }
  .about {
    font-size: 1.1em;
  }
  .mainText {
    font-size: 1.6em;
  }
  a {
    font-size: 1em;
  }
}
@media(max-width: 550px) {
  .title {
    font-size: 1.8em;
  }
  .about {
    font-size: 1.2em;
  }
  .mainText {
    font-size: 1.1em;
  }
  a {
    font-size: 1em;
  }
}
