@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

html, body {
  width: 100%;
  overflow-x: hidden;
}

body {
  background-color: black;
  color: limegreen;
  right: 0;
  font-family: 'Press Start 2P', cursive;
  background-image: url("./img/backgroundHome.jpg");
}
.title {
  position: relative;
  padding: 4vw;
  font-size: 4vw;
  text-align: center;
  color: red;
  animation: title 10s linear infinite;
  z-index: 5;
}
@keyframes title {
  0%{left: 0vw;}
  25%{left: 4vw;}
  50%{left: 0vw;}
  75%{left: -4vw;}
  100%{left: 0vw;}
}
a {
  text-decoration: none;
  animation: a 1s linear infinite;
  z-index: 5;
}
@keyframes a {
  0%{color: green;}
  50%{color: limegreen;}
  100%{color: green;}
}
a:hover {
  text-decoration: none;
  color: yellow;
  animation: 0s;
}
.mainText {
  position: relative;
  padding: 4vw;
  font-size: 2vw;
}
.menu {
  position: absolute;
  background-color: black;
  z-index: 10;
}
