html, body {
  height: 100%;
  overflow-x: hidden;
  width: 100%;
}
body {
  background-color: black;
  background-image: url("./img/backgroundHome.jpg");
  color: limegreen;
  right: 0;
}
.title {
  animation: title 10s linear infinite;
  color: red;
  font-family: 'Press Start 2P', monospace;
  font-size: 4vw;
  position: relative;
  text-align: center;
  top: 10%;
  z-index: 5;
}
@keyframes title {
  0%{left: 0;}
  25%{left: 4vw;}
  50%{left: 0;}
  75%{left: -4vw;}
  100%{left: 0;}
}
.mainText {
  font-size: 2vw;
  margin: 5%;
  position: absolute;
  top: 10%;
}
p, h2, li {
  font-family: courier, monospace;
}
p, li {
  font-size: 0.7em;
}
.projects {
  margin-top: 4%;
  position: absolute;
}
a {
  animation: a 1s linear infinite;
  color: blue;
  font-family: 'Press Start 2P', monospace;
  text-decoration: none;
  z-index: 5;
}
@keyframes a {
  0%{color: blue;}
  50%{color: cyan;}
  100%{color: blue;}
}
a:hover {
  animation: 0s;
  color: red;
  text-decoration: none;
}
.menu {
  background-color: black;
  position: absolute;
  z-index: 10;
}
