.body {
  background-color: black;
  color: limegreen;
  font-family: 'Press Start 2P', cursive;
  font-size: 2vmin;
  overflow: hidden;
}
a {
  color: inherit;
  text-decoration: none;
}
.menu {
  background-color: black;
  position: absolute;
  z-index: 10;
}
.title {
  font-size: 3em;
  position: absolute;
  text-align: center;
  top: 1vmin;
  width: 100%;
}
.buttons {
  display: flex;
  font-size: 1.5em;
  justify-content: space-between;
  position: absolute;
  right: 0;
  top: 7vmin;
  width: 100%;
}
.goBack, .startPause {
  cursor: pointer;
  margin-left: 8vw;
  margin-right: 8vw;
}

.spaceAttack {
  background-image: url("./img/background.jpg");
  position: absolute;
}
.infoControls {
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.8);
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: 10;
}
.controlsViewTransparency {
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0);
  color: transparent;
}
.topTop {
  font-size: 2.5em;
  margin-top: 1em;
  position: absolute;
  text-align: center;
  width: 100%;
}
.center {
  align-items: center;
  font-size: 3em;
  position: absolute;
  text-align: center;
  top: 45%;
  width: 100%;
}
.topLeft, .topRight, .bottomLeft, .bottomRight {
  height: 25vh;
  position: absolute;
  width: 40vw;
}
.topRight, .bottomRight {
  left: 49vw;
}
.bottomLeft, .bottomRight {
  top: 40vh;
}
.topLeft div, .topRight div, .bottomLeft div, .bottomRight div {
  color: inherit;
  left: 10vw;
  line-height: 1.5em;
  position: absolute;
  top: 60%;
}

.touchFire, .touchMove, .touchStartPause, .touchQuit {
  position: absolute;
  touch-action: none;
  z-index: 20;
}

.gameTopTxtShell {
  position: absolute;
  top: 2vmin;
  width: 100%;
}
.gameTopTxt {
  color: transparent;
  position: absolute;
  width: 100%;
  z-index: 8;
}
.anim_gameTopTxt {
  animation: gameTopTxt 6s ease-out;
  animation-fill-mode: forwards;
}
@keyframes gameTopTxt {
  0%{color: transparent; top: -300px;}
  80%{color: inherit; top: -300px;}
  100%{color: inherit; top: 0;}
}
.livesTxt {
  left: 20px;
  position: absolute;
}
.levelTxt {
  position: absolute;
  text-align: center;
  width: 100%;
}
.scoreTxt {
  position: absolute;
  right: 20px;
  text-align: right;
  width: 100%;
}

.centerText {
  align-items: center;
  color: transparent;
  display: flex;
  font-size: 6em;
  height: 100%;
  justify-content: center;
  position: absolute;
  text-align: center;
  width: 100%;
}
.anim_centerText {
  animation: centerText 2s ease;
}
@keyframes centerText {
  0%{color: transparent;}
  20%{color: inherit;}
  80%{color: inherit;}
  100%{color: transparent;}
}
.anim_endOfLevel {
  animation: endOfLevel 2s ease;
}
@keyframes endOfLevel {
  0%{color: transparent;}
  5%{color: inherit;}
  95%{color: inherit;}
  100%{color: transparent;}
}

.shellShuttle {
  position: absolute;
  width: 100%;
}
.shuttle {
  background-size: contain;
  position: absolute;
  z-index: 3;
}
.anim_shuttle {
  animation: shuttle 3.5s ease-out;
  background-image: url("./img/shuttle.tiff");
}
@keyframes shuttle {
  0%{top: 200px;}
  90%{top: 200px;}
  100%{top: 0;}
}
.shuttleLaser {
  background-size: contain;
  left: 1px;
  position: absolute;
  z-index: 1;
}
.anim_shuttleLaser {
  background-image: url("./img/blueLaser.tiff");
}
.aliensLaser {
  background-size: contain;
  left: 1px;
  position: absolute;
  top: 1px;
  z-index: 1;
}
.anim_aliensLaser {
  background-image: url("./img/redLaser.tiff");
}

.shields {
  position: absolute;
  width: 100%;
}
.shield1, .shield2, .shield3 {
  position: absolute;
}
.s1Part1, .s1Part2, .s1Part3, .s2Part1, .s2Part2, .s2Part3, .s3Part1, .s3Part2, .s3Part3 {
  background-size: contain;
  position: absolute;
  z-index: 2;
}
.anim_shieldP1 {
  animation: shield 2s ease-out;
  background-image: url("./img/sp1.tiff");
}
.anim_shieldP2 {
  animation: shield 3s ease-out;
  background-image: url("./img/sp2.tiff");
}
.anim_shieldP3 {
  animation: shield 2.5s ease-out;
  background-image: url("./img/sp3.tiff");
}
@keyframes shield {
  0%{top: 160px;}
  70%{top: 160px;}
  100%{top: 0;}
}


.aliens {
  position: absolute;
}
.line1, .line2 {
  position: absolute;
}
.part1, .part2, .part3, .part4, .part5, .part6, .part7, .part8, .part9, .part10 {
  background-size: contain;
  position: absolute;
  z-index: 2;
}
.anim_alienShip {
  animation: alienShipBack 1.2s ease-out;
  background-image: url("./img/alienShip2_1.tiff");
}
.anim_alienShip1 {
  animation: alienShip 4.2s ease-out;
  background-image: url("./img/alienShip2_2.tiff");
}
.anim_alienShip2 {
  animation: alienShip 4.5s ease-out;
  background-image: url("./img/alienShip2_3.tiff");
}
.anim_alienShip3 {
  animation: alienShip 4.6s ease-out;
  background-image: url("./img/alienShip2_4.tiff");
}
.anim_alienShip4 {
  animation: alienShip 4.7s ease-out;
  background-image: url("./img/alienShip2_5.tiff");
}
@keyframes alienShipBack {
  0%{top: -300px;}
  70%{top: -300px;}
  100%{top: 0;}
}
@keyframes alienShip {
  0%{top: -300px;}
  94%{top: -300px;}
  100%{top: 0;}
}
.part2 {
  left: 100px;
}
.part3 {
  left: 200px;
}
.part4 {
  left: 300px;
}
.part5 {
  left: 400px;
}
.part6 {
  left: 500px;
}
.part7 {
  left: 600px;
}
.part8 {
  left: 700px;
}
.part9 {
  left: 800px;
}
.part10 {
  left: 900px;
}

.topCover {
  background-color: black;
  height: 10vh;
  position: absolute;
  top: -10.9vh;
  width: 100%;
  z-index: 9;
}
.bottomCover {
  background-color: black;
  bottom: -10.9vh;
  height: 10vh;
  position: absolute;
  width: 100%;
  z-index: 4;
}
